<% layout("/layouts/boilerplate") %>
  
  <div class="row">
    <div class="col-8 offset-3 mt-4">
       <h3><b><%= listing.title %></b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" >

      <div class="card-body">
        <p class="card-text" >Owened by: <i><%= listing.owner.username%></i></p>
        <p class="card-text" ><%= listing.description %></p>
        <p class="card-text" >&#8377; <%= Number(listing.price)?.toLocaleString("en-IN") || "N/A" %></p>
        <p class="card-text" ><%= listing.location %></p>
        <p class="card-text" ><%= listing.country %></p>
      </div>
    </div>
    </div>
  </div>
    
    <div class="btns">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>
      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
  
  <hr>
  <div class="row">
    <div class="col-8 offset-3 mt-4">
    <h4>leave the comment</h4>
    <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>
      <div>
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" name="review[rating]" id="rating" class="form-range">
      </div>
       
      <div>
        <label for="comment" class="form-label">Comment</label>
        <textarea name="review[comment]" id="comment" cols="30" rows="5"class="form-control" required></textarea>
        <div class="invalid-feedback">plese add some comment for review</div>
      </div>
      <br>
      <button class="btn btn-dark mb-3">submit</button>
    </form>

    <hr>
    <p><b>All review</b></p>
    <div class="row">
      <% for(review of listing.reviews){ %>  
    <div class="card col-5 ms-2 mb-2 ">
      <div class="card-body ">
        <h5 class="card-title">jane doe</h5>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"><%= review.rating %> Star</p>
      </div>
      <form class="mb-3" method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" >
        <button class="btn btn-sm btn-dark">Delete</button>
      </form>
    </div>
  <% } %>   
    </div>  
  </div>  

  </div>  
  